.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: inherit;
}

.index-visit-on-github>p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.index-visit-on-github a {
    font-size: 24px;
    margin-left: 10px;
}